<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">

        <div class="sidebar-collapse">
            <a class="close-canvas-menu">
                <i class="fa fa-times"></i>
            </a>
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <center>
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">RESTest</strong>
                                    </span>
                                </center>

                            </span>
                        </a>
                    </div>
                </li>
                <li class="special_link">
                    <a href="https://github.com/simranjitk" target="_blank">
                        <i class="fas fa-code"></i>
                        <span class="nav-label" data-i18n="nav.layouts">Simranjit Kamboj</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/simranjitk/restest" target="_blank">
                        <i class="fab fa-github"></i>
                        <span class="nav-label" data-i18n="nav.layouts">Project Page</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/simranjitk/restest/issues" target="_blank">
                        <i class="fas fa-bug"></i>
                        <span class="nav-label" data-i18n="nav.layouts">Issues</span>
                    </a>
                </li>
            </ul>


        </div>
    </nav>
</template>